.App {
  text-align: center;
  height: 100vh;
  display: flex;
  flex-direction: row;
  padding-inline: 90px;
  position: relative;
  border: 4px solid red; /* Red border */
  border-radius: 10px; /* Border radius */
  overflow: hidden; /* Hide overflow from rounded corners */
}

.left-image {
  flex: 1; /* Takes up the left side */
  background-image: url('/images/t1.png'); /* Change to your left image path */
  background-size: cover;
  background-position: center;
  position: relative;
  margin-top: 40px;
  margin-bottom: 40px;
}

.right-image {
  flex: 1; /* Takes up the right side */
  background-image: url('/images/t3.png'); /* Change to your right image path */
  background-size: cover;
  background-position: center;
  margin-top: 40px;
  margin-bottom: 40px;
}

.overlay {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.random-text {
  color: white;
  font-weight: bold;
  font-size: 52px;
  margin: 10px;
}

.random-texte {
  color: white;
  font-size: 34px; /* Adjust font size as needed */
  margin: 10px;
  font-weight: 300;
  padding-inline: 50px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
